<p>Reflow Tables lay the table data horizontally until it reaches a minimum size, then all rows are grouped together
    in a vertical stack with the corresponding labels.</p>
<p>In this example we have used the well-known Northwind sample database. Below is a selection from the "Customers"
    table.</p>
<p>Try to resize the width of your browser window, to see the effect.</p>
<table data-role="table" data-mode="columntoggle" class="ui-responsive ui-shadow" id="dataTable">
    <thead>
        <tr>
            <th data-priority="6">No</th>
            <th data-priority="2">정기/비정기</th>
            <th>계정이름</th>
            <th data-priority="1">설명</th>
            <th data-priority="5">달 기준금액</th>
            <th data-priority="3">현월 계</th>
            <th data-priority="4">누계</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>1</td>
            <td>정기</td>
            <td>계정이름</td>
            <td>계정 설명</td>
            <td>100,000원</td>
            <td>0원</td>
            <td>0원</td>
        </tr>
        <% dataList.forEach(function(item, index) { %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.routine_type %></td>
                <td><%= item.account_name %></td>
                <td><%= item.contents %></td>
                <td><%= item.monthly_price %></td>
                <!-- 추후 설정-->
                <td><%= item.monthly_price %></td>
                <td><%= item.monthly_price %></td>
            </tr>
            
            
        <%}); %>
    
    </tbody>
</table>