
<div class="button-view form-inline">
    <form class="form-inline " action="/withdrawal">
        <% var today = new Date(); %>
        <% if(dataList.date == undefined){ %>
            <% year = today.getFullYear(); %>
            <% month = today.getMonth()+1; %>
            <% month = month<10 ? '0'+month : month;  %>
        <% } else {    %>
            <% year = dataList.date.year %>
            <% month = dataList.date.month %>
            <% } %>
        <div class="form-group ">
            <label for="sel1">year:</label>
            <select class="form-control" id="sel1" name="year">
                <% var this_year = 2019; %>
                <% while(this_year <= year){ %>
                    <% if(this_year == year){ %>
                        <option selected> <%= this_year %> </option>
                    <% } else{ %>
                        <option><%= this_year %></option>
                    <% } %>
                    <% this_year++; %>
                <% } %>
            </select>
        </div>
        <div class="form-group ">
            <label for="sel2">month:</label>
            <select class="form-control" id="sel2" name="month">
                <% var monthAry = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'] %>
                <% for( var mon of monthAry) {   %>
                    <% if(mon == month){ %>
                        <option selected> <%= mon %> </option>
                    <% } else{ %>
                        <option><%= mon %></option>
                    <% } %>
                <% } %>

            </select>
        </div>
        <button type="submit" class="btn btn-primary btnline">검색</button>
    </form>

    <!-- Button trigger modal -->
    <div class="button-add inline">
        <button type="button" id="addModelBtn" class="btn btn-primary btnline" aria-label="Left Align" data-toggle="modal"
            data-target="#addModel">
            <i class="fas fa-plus-square"></i>
        </button>

    </div>
</div>


<div class="table-div table-responsive">
    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th>No</th>
                <th>Date</th>
                <th>계정</th>
                <th>사용자</th>
                <th>내용</th>
                <th>구매처</th>
                <th>계좌 종류</th>
                <th>계좌 이름</th>
                <th>종류</th>
                <th>금액</th>
                <th>수정/삭제</th>
            </tr>
        </thead>
        <tbody>
            <% dataList.results.forEach(function(item, index) { %>
            <tr>
                <td><%= item.id %></td>
                <td>
                    <% var dateStr = item.created_at; %>
                    <% var format = new Date(dateStr); %>

                    <% var year = format.getFullYear(); %>
                    <% var month = format.getMonth() + 1; %>
                    <% if(month<10) month = '0' + month; %>
                    <% var date = format.getDate(); %>
                    <% if(date<10) date = '0' + date; %>
                    <% var hour = format.getHours(); %>
                    <% if(hour<10) hour = '0' + hour; %>
                    <% var min = format.getMinutes(); %>
                    <% if(min<10) min = '0' + min; %>
                    <% var sec = format.getSeconds(); %>
                    <% if(sec<10) sec = '0' + sec; %>
                    <%= year + "-" + month + "-" + date + " " + hour + ":" + min + ":" + sec; %>
                </td>
                <td><%= item.name %></td>
                <td><%= item.username %></td>
                <td><%= item.contents %></td>
                <td><%= item.dealer %></td>
                <!-- 추후 설정-->
                <td>
                    <% if(item.account_type == 0){ %>
                    입출금 통장
                    <% } else if(item.account_type == 1){ %>
                    예적금 통장
                    <% } %>
                </td>

                <td><%= item.bank_account_name %></td>
                <td>
                    <% if(item.price_type == 0){ %>
                    입금
                    <% } else if(item.price_type == 1){ %>
                    출금
                    <% } else { %>
                    직접사용
                    <% } %>
                </td>
                <td><%= item.price %> 원</td>
                <td>
                    <button type="button" class="btn btn-warning"
                    data-toggle="modal" data-target="#updateModel" onclick="updateWithdrawal(<%= item.id %>);">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#addModel">
                    <i class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            <%}); %>
        </tbody>
    </table>
</div>


<!-- Add Modal -->
<div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myAddModalLabel">입출금 내역 추가하기</h4>
            </div>
            <div class="modal-body">
                <form method="POST" id="addModel_form" name="addModel">
                    <div class="form-group">
                        <label for="standard_id">기준값 항목</label>
                        <select class="form-control" id="standard_id" name="standard_id" placeholder="기준값 이름">
                                    
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="user_id">사용자</label>
                        <select class="form-control" id="user_id" name="user_id" placeholder="사용자 이름">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="contents">내용</label>
                        <input type="input" class="form-control" id="contents" name="contents" placeholder="내용">
                    </div>
                    <div class="form-group">
                        <label for="dealer">구매처</label>
                        <input type="input" class="form-control" id="dealer" name="dealer" placeholder="구매처">
                    </div>
                    <div class="form-group">
                        <label for="bank_account_id">계좌 이름</label>
                        <select class="form-control" id="bank_account_id" name="bank_account_id" placeholder="계좌 이름">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="price_type">종류</label>
                        <select type="input" class="form-control" id="price_type" name="price_type" placeholder="종류">
                            <option value="0">입금</option>
                            <option value="1">출금</option>
                            <option value="2">직접사용</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="price">금액</label>
                        <input type="number" class="form-control" id="price" name="price" placeholder="금액">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="goAddSubmit();">추가</button>
            </div>

        </div>
    </div>
</div>



<!-- Update Modal -->
<div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="myUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myUpdateModalLabel">입출금 내역 수정하기</h4>
            </div>
            <div class="modal-body">
                <form method="POST" id="updateModel_form" name="updateModel">
                    <div class="form-group">
                        <label for="id">id</label>
                        <input type="text" class="form-control" id="update_id" name="id" placeholder="id" readonly/>
                    </div>                    
                    <div class="form-group">
                        <label for="standard_id">기준값 항목</label>
                        <input class="form-control" id="update_standard_id" name="standard_id" placeholder="기준값 이름"/>
                                    
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="user_id">사용자</label>
                        <select class="form-control" id="update_user_id" name="user_id" placeholder="사용자 이름">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="contents">내용</label>
                        <input type="input" class="form-control" id="update_contents" name="contents" placeholder="내용">
                    </div>
                    <div class="form-group">
                        <label for="dealer">구매처</label>
                        <input type="input" class="form-control" id="update_dealer" name="dealer" placeholder="구매처">
                    </div>
                    <div class="form-group">
                        <label for="bank_account_id">계좌 이름</label>
                        <select class="form-control" id="update_bank_account_id" name="bank_account_id" placeholder="계좌 이름">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="price_type">종류</label>
                        <select type="input" class="form-control" id="update_price_type" name="price_type" placeholder="종류">
                            <option value="0">입금</option>
                            <option value="1">출금</option>
                            <option value="2">직접사용</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="price">금액</label>
                        <input type="number" class="form-control" id="update_price" name="price" placeholder="금액">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="goAddSubmit();">추가</button>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript" src="/js/withdrawal.js"></script>
